@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}


body {
  /* background-color: #1c1d1e; */
  background-color: #161719;
  color: #fff;
}

.border-extralight {
  border: .7px solid #616161;
}

.border-light {
  border: 1px solid #616161;
}

.cursor {
  letter-spacing: 1px;
  border-right: 2px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
